body {
  color: #00ff00;
  font-family: "Arial";
  background-image: radial-gradient(circle, #330066, #190033)
}
.navigation {      /* Credit to W3Schools for this class */
  height: 100vh;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: 10px
}
.buttonoff {
  width: 20vw;
  font-size: 30px;
  background-color: #333333;
  color: #666666;
  border: transparent
}
.buttonon {
  width: 20vw;
  font-size: 30px;
  background-image: linear-gradient(90deg, #999, #333);
  color: #ffffff;
  border: transparent
}
.main {            /* Credit to W3Schools for this class */
  margin-left: 20vw;
  font-size: 14px;
  background-color: transparent
}
